.auth{
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: stretch;

  .left-side{
      display: none;
  }

  @media (min-width: 767px) {
    .left-side{
      display: flex;
      width: 100%;
      flex-basis: 49%;
      background-image: url('/assets/images/illustration-auth.jpg');
      background-size: cover;
      margin: 0 var(--common-wrapper) 0 calc(-1 * var(--common-wrapper));
    }
  }
}
