#map {
  width: 100%;
  height: 100vh;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #1e1e1e;
  padding-inline: 10px;
  padding-block: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.legend {
  position: absolute;
  right: 10px;
  top: 100px;
  background: white;
  padding: 10px;
  z-index: 10;
  border-radius: 6px;

  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .red {
    background: red;
  }

  .orange {
    background: orange;
  }

  .purple {
    background: purple;
  }
}