.forgot {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    ;
    gap: 10px;
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .message {
      position: absolute;
      bottom: 0;
    }
  }
}