.register {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;

  .logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}