<form class="forgot" (ngSubmit)="submit()">
  <div class="logo">
    <img src="favicon.ico" alt="Logo SécuriCarte" />
    <h1>SécuriCarte</h1>
  </div>

  <div class="title">
    <h2>Mot de passe oublié ?</h2>
    <p>Entrez votre e-mail pour recevoir le lien de réinitialisation</p>
  </div>
  <div class="input-container">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="forgotPasswordModel().email" name="email" required />
    </mat-form-field>

    @if (errorMessage()){
    <div class="message error-message">{{ errorMessage() }}</div>
    }

    @if (successMessage()){
    <div class="message success-message">{{ successMessage() }}</div>
    }
  </div>

  <button mat-flat-button color="primary" type="submit">
    Envoyer le lien
  </button>
</form>