.auth {
  min-height: 100dvh;
  display: flex;
  width: 100%;

  .loading {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    .spinner {
      z-index: 99999;
      width: 50px !important;
    }
  }

  .left-side {
    display: none;
  }

  @media (min-width: 767px) {
    .left-side {
      display: block;
      flex-basis: 49%;
      min-height: 100dvh;
      background-image: url('/assets/images/illustration-auth.jpg');
      background-size: cover;
      margin: 0 var(--common-wrapper) 0 calc(-1 * var(--common-wrapper));
    }
  }

  .right-side {
    flex-basis: 100%;
  }

  @media (min-width: 767px) {
    .right-side {
      flex-basis: 49%;
    }
  }
}