<div class="incident-modal">
  <button matIconButton class="close" (click)="cancel()" type="button" aria-label="fermer la fenetre de la violence">
    <i class="fa-solid fa-xmark"></i>
  </button>

  <h2 mat-dialog-title>Signaler une violence</h2>

  <form (ngSubmit)="submit()" mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Type de violence</mat-label>
      <mat-select [(ngModel)]="model.type" name="type" required>
        <mat-option value="physique">Physique</mat-option>
        <mat-option value="verbale">Verbale</mat-option>
        <mat-option value="sexuelle">Sexuelle</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Titre</mat-label>
      <input matInput [(ngModel)]="model.title" name="title" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="model.description" name="description"></textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button matButton="filled" type="submit">Soumettre</button>
      <button matButton="tonal" (click)="cancel()" type="button">Annuler</button>
    </mat-dialog-actions>
  </form>
</div>